*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.your_css_selector_here {
    background-color: hsla(0, 0%, 2%, 1);
    background-image: radial-gradient(circle at 3% 101%, hsla(0, 0%, 2%, 1) 13.797574811818231%, transparent 65%), radial-gradient(circle at 98% 98%, hsla(0, 0%, 2%, 1) 15%, transparent 63.310997437284335%), radial-gradient(circle at 46% 98%, hsla(240, 0%, 2%, 1) 20.593893049449022%, transparent 49.606606188780056%), radial-gradient(circle at 3% 6%, hsla(18.26086956521739, 72%, 49%, 1) 15%, transparent 65%), radial-gradient(circle at 97% 7%, hsla(240, 7%, 29%, 1) 15%, transparent 65%);
    background-blend-mode: normal, normal, normal, normal, normal;
}

.barra-inicio {
    background-color: #E8D8C4;
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 10px 20px;
    position: sticky;
    margin: auto;
    max-width: 1200px;
}

html {
    scroll-behavior: smooth;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;

}
.brand {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0 0 8px #a54831;

}
.main-nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.main-nav li a{
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.3s ease;
    color: #270f13;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
}

.main-nav a:hover,
.main-nav a:focus{
    color: var(--acent);
    color: #a54831;
}

.cara {
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
}

.primer-seccion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(80vh - 30px);
    margin: auto;
    line-height: 1.6;
    background-color: #270f13;
    max-width: 1200px;
}

.caja-central{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;

}

.caja-cara{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 260px;
    height: 260px;
    padding-top: 50px;
    background-color: #270f13;
}

.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #270f13;
    color: #a86c5d;
    font-family: cursive;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

.segunda-seccion {
    background: #270f13;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 40px 10px;
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
    line-height: 1.6;
    max-width: 1200px;


}

.segunda-seccion h2 {
    text-shadow: 0 0 8px #d8340b;
    font-family: 'Segoe UI';
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 60px;

}
.segunda-seccion p {
    font-family: sans-serif;
    font-size: 17px;
}

.aptitudes-2 {
    margin-top: 30px;
    margin-bottom: 40px;
}
.aptitudes-2 img {
    margin: 0 10px; 

}

.cursos {
    font-family: sans-serif;

}

.tercer-seccion{
    background-color: #2e1216;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 40px 10px;
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
    line-height: 1.6;
    max-width: 1200px;

}


.proyectos-titulo{
    font-family: 'Segoe UI';
    color: whitesmoke;
    text-shadow: 0 0 8px #d8340b;
    margin-top: 30px;
    margin: 20px;
}

.proyectos{
    width: 90%;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;   
    font-family: Helvetica;
}

.card{
    text-align: center;
    width:50%;
    border: solid #d8560b 1px;
    border-radius: 40px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    margin: auto;
}
.card img{
    width: 100%;
}
.card a, footer a {
    color: white;
    
}

footer{
    background-color: #C7B7A3;
    text-shadow: 0 0 8px #a54831;
    font-family: 'Segoe UI';
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
    margin: auto;
    padding: 60px 20px;
    max-width: 1200px;

}
.contacto{
    margin-top: 30px;
    width: 30%;
    display: flex;
    justify-content: center;

}

.contacto a {
    margin: 0 15px;
}

.icono-tech {
    transition: transform 0.5s ease;
}

.icono-tech:hover {
    transform: scale(1.50);
}

.proyecto {
    transition: box-shadow 0.4s ease;
}

.proyecto:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@media (max-width: 768px){
    .header-inner{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .caja-cara{
        flex-direction: column;
        text-align: center;
    }
    .cara{
        width: 180px;

    }
    .aptitudes-2{
        justify-content: center;
    }

    .card {
    font-size: 14px;
    padding: 1rem;
    }

    .caja-presentacion{
    width: 90%;
    font-size: 14px;
    }


}