/* HERO */
.hero{
  height:100vh;
  background:#0b0f19;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.hero::before{
 content:"";
  position:absolute;
  width:100%;
  height:100%;
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    rgba(0,150,255,.25),
    transparent 40%
  );
  z-index:1;
}

.hero::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background: radial-gradient(
    circle at calc(var(--x, 50%) + 100px) calc(var(--y, 50%) + 100px),
    rgba(255,0,90,.25),
    transparent 40%
  );
  z-index:1;
}

.hero-content{
  position:relative;
  z-index:2;
}

.hero h1{
  font-size:60px;
  color:white;
  font-weight:300;
}

.hero h1 span{
  color:#ff4d5a;
  font-weight:600;
}

.hero h2{
  font-size:48px;
  color:#d1d5db;
  font-weight:300;
  margin-bottom:40px;
}

.hero-btn{
  display:inline-block;
  padding:15px 30px;
  border:2px solid #ff4d5a;
  color:#ff4d5a;
  text-decoration:none;
  font-size:18px;
  transition:.3s;
}

.hero-btn:hover{
  background:#ff4d5a;
  color:white;
}


/*ABOUT*/
.hero, .about{
  min-height:100vh;
  background:#0b0f19;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  position:relative;
  overflow:hidden;
}

.hero canvas,
.about canvas{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.hero-content,
.about-container{
  position:relative;
  z-index:2;
}

.hero h1{
  font-size:60px;
  color:white;
  font-weight:300;
}

.hero h1 span{
  color:#ff4d5a;
}

.hero h2{
  font-size:46px;
  color:#cbd5e1;
}

.hero-btn{
  border:2px solid #ff4d5a;
  padding:14px 28px;
  color:#ff4d5a;
  text-decoration:none;
  margin-top:30px;
  display:inline-block;
}

.hero-btn:hover{
  background:#ff4d5a;
  color:white;
}

.about-title{
  font-size:48px;
  color:white;
  position:relative;
}

.about-title::after{
  content:"";
  width:80px;
  height:6px;
  background:#ff4d5a;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:-12px;
}

.about-icon img{
  width:120px;
  margin:40px 0;
  filter: drop-shadow(0 0 15px rgba(255,0,90,.5));
}

.about-text{
  color:#cbd5e1;
  font-size:18px;
  max-width:600px;
}

.tech-section{
  min-height:100vh;
  background:#0b0f19;
  position:relative;
  padding:120px 20px;
  text-align:center;
  overflow:hidden;
}

#particles-tech{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
}

.section-title{
  position:relative;
  z-index:2;
  color:white;
  font-size:42px;
  margin-bottom:60px;
}

.section-title::after{
  content:"";
  display:block;
  width:70px;
  height:4px;
  background:#ff4d5a;
  margin:12px auto 0;
}

.tech-grid{
  position:relative;
  z-index:2;
  max-width:900px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  gap:30px;
}

.tech{
  background:rgba(255,255,255,.03);
  border:1px solid rgba(255,255,255,.08);
  padding:28px;
  border-radius:14px;
  transition:.3s;
  backdrop-filter:blur(6px);
}

.tech i{
  font-size:38px;
  color:#ff4d5a;
  margin-bottom:10px;
}

.tech span{
  display:block;
  color:white;
  font-size:15px;
}

.tech:hover{
  transform:translateY(-6px);
  border-color: #ff4d5a;
  box-shadow: #ff4d5a;
}

/*BARRA NAV*/

.nav{
  position:sticky;
  top:0;
  width:100%;
  background: #0b0f19;
  backdrop-filter: blur(8px);
  z-index:999;
  border-top:1px solid rgba(255,255,255,.05);
  border-bottom:1px solid rgba(255,255,255,.05);
}

.nav-container{
  max-width:1100px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 20px;
}

.nav a{
  color:white;
  text-decoration:none;
  margin-left:30px;
  font-size:16px;
  transition:.3s;
}

.nav a:hover{
  color:#ff4d5a;
}

/*PROYECTOS*/

.projects{
  min-height:auto;
  background:#0b0f19;
  padding:120px 20px;
  display:flex;
  justify-content:center;
}

.projects canvas{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.projects-container{
  max-width:1100px;
  width:100%;
}

.projects-title{
  color:white;
  font-size:48px;
  text-align:center;
  margin-bottom:80px;
  position:relative;
}

.projects-title::after{
  content:"";
  width:80px;
  height:6px;
  background:#ff4d5a;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:-12px;
}

.project-card{
  display:flex;
  gap:60px;
  align-items:center;
  background:rgba(255,255,255,.02);
  border:1px solid rgba(255,255,255,.05);
  border-radius:16px;
  padding:40px;
  transition:.4s;
}

.project-card:hover{
  transform:translateY(-6px);
  border-color:#ff4d5a;
}

.project-img{
  width:600px;
  height:350px;
  overflow:auto;
  border-radius:12px;
  border:1px solid rgba(255,255,255,.08);
  background:#0f1624;
  box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.project-img img{
  width:auto;
  max-width:none;
  height:auto;
}

.project-img::-webkit-scrollbar{
  width:6px;
  height:6px;
}

.project-img::-webkit-scrollbar-thumb{
  background:#ff4d5a;
  border-radius:10px;
}


.project-info{
  color:white;
}

.project-info h3{
  font-size:32px;
  margin-bottom:20px;
}

.project-info p{
  color:#cbd5e1;
  line-height:1.7;
  margin-bottom:30px;
}

.project-btn{
  border:2px solid #ff4d5a;
  padding:12px 24px;
  text-decoration:none;
  color:#ff4d5a;
  transition:.3s;
}

.project-btn:hover{
  background:#ff4d5a;
  color:white;
}

/*FORMULARIO*/

.contact{
  min-height:100vh;
  background:#0b0f19;
  position:relative;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:120px 20px;
}

.contact canvas{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.contact-container{
  position:relative;
  z-index:2;
  width:100%;
  max-width:600px;
  text-align:center;
}

.contact-title{
  color:white;
  font-size:48px;
  margin-bottom:60px;
  position:relative;
}

.contact-title::after{
  content:"";
  width:80px;
  height:6px;
  background:#ff4d5a;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:-12px;
}

/* formulario */
.contact-form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-form input,
.contact-form textarea{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.08);
  padding:14px;
  color:white;
  border-radius:8px;
  outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
  border-color:#ff4d5a;
}

.contact-form button{
  border:2px solid #ff4d5a;
  background:transparent;
  color:#ff4d5a;
  padding:14px;
  cursor:pointer;
  transition:.3s;
}

.contact-form button:hover{
  background:#ff4d5a;
  color:white;
}

/*ULTIMA SECCION*/

.perfil-final{
  min-height:100vh;
  background:#0b0f19;
  position:relative;
  overflow:hidden;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  padding-top:60px;
}

#particles-profile{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
}

.profile-title{
  color:white;
  font-size:42px;
  text-align:center;
  margin-bottom:100px;
  position:relative;
}

.profile-title::after{
  content:"";
  display:block;
  width:60px;
  height:4px;
  background:#ff4d5a;
  margin:10px auto 0;
  border-radius:4px;
}

.wrapper{
  z-index:2;
}

.profile{
  width:300px;
  height:350px;
  background:url("./img/Giu2.jpeg") center/cover no-repeat;
  border-radius:20px;
  overflow:hidden;
  position:relative;
}

.profile:hover{
  transform:scale(1.03);
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,.2));
  opacity:0;
  transition:.4s;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.profile:hover .overlay{
  opacity:1;
}

.overlay h4{
  color:#fff;
  font-size:22px;
  margin-bottom:5px;
}

.overlay span{
  color:#ddd;
  font-size:14px;
}

.social-icons{
  margin-top:25px;
  display:flex;
  gap:14px;
  list-style:none;
}

.social-icons li{
  width:42px;
  height:42px;
  border:1px solid #fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:8px;
  color:white;
  transition:.3s;
  font-size:16px;
}

.social-icons a {
  color: #ff4d5a;
}

.social-icons li:hover{
  background:white;
  color:black;
  transform:translateY(-3px);
}

/*   HERO */
@media (max-width: 1024px){

  .hero h1{
    font-size:48px;
  }

  .hero h2{
    font-size:34px;
  }

  .about-title{
    font-size:38px;
  }

}

@media (max-width: 768px){

  .hero,
  .about{
    min-height:auto;
    padding:90px 20px;
  }

  .hero h1{
    font-size:36px;
    line-height:1.2;
  }

  .hero h2{
    font-size:24px;
  }

  .hero-btn{
    margin-top:20px;
    padding:12px 22px;
  }

  /* ABOUT */

  .about-container{
    max-width:520px;
    margin:auto;
    text-align:left;
  }

  .about-title{
    font-size:30px;
    text-align:center;
    margin-bottom:20px;
  }

  .about-icon img{
    width:80px;
    margin:24px auto;
    display:block;
  }

  .about-text{
    font-size:16px;
    line-height:1.8;
  }

}

@media (max-width: 768px){

  .about,
  .tech-section{
    padding:70px 20px;
  }

}


/* NAV  */
@media (max-width:768px){

.nav-container{
  flex-direction:column;
  align-items:center;
  gap:14px;
  padding:14px;
}

.logo{
  font-size:18px;
}

.nav-container nav{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:12px;
}

.nav-container nav a{
  margin:0;
  font-size:14px;
}

}

@media (max-width: 1024px){

  .project-card{
    gap:40px;
    padding:30px;
  }

  .project-img{
    width:100%;
    max-width:500px;
    height:300px;
  }

}

@media (max-width: 768px){

  .projects{
    padding:80px 16px;
  }

  .projects-title{
    font-size:32px;
    margin-bottom:50px;
  }

  .project-card{
    flex-direction:column;
    gap:30px;
    padding:24px;
    text-align:center;
  }

  .project-img{
    width:100%;
    height:260px;
  }

  .project-info h3{
    font-size:24px;
  }

  .project-info p{
    font-size:15px;
  }

  .project-btn{
    display:inline-block;
  }

}

@media (max-width: 480px){

  .project-img{
    height:220px;
  }

  .project-card{
    padding:18px;
  }

}

/*tecnologias*/
@media (max-width: 768px){

  .tech-section{
    min-height:auto;
    padding:60px 20px;
  }

  .section-title{
    margin-top:0;
  }

  .section-title{
    font-size:28px;
    margin-bottom:30px;
    text-align:center;
}
  

}

/*formulario de contacto*/

@media (max-width: 1024px){

  .contact-title{
    font-size:38px;
  }

}

@media (max-width: 768px){

  .contact{
    min-height:auto;
    padding:70px 20px;
    align-items:flex-start;
  }

  .contact-container{
    text-align:left;
  }

  .contact-title{
    font-size:28px;
    margin-bottom:30px;
    text-align:center;
  }

  .contact-form{
    gap:16px;
  }

  .contact-form input,
  .contact-form textarea{
    padding:12px;
    font-size:15px;
  }

  .contact-form button{
    padding:12px;
  }

}

/*perfil final*/

@media (max-width: 1024px){

  .profile{
    background:none;
    height:auto;
  }

}

@media (max-width: 1024px){

  .overlay{
    position:static;
    opacity:1;
    background:none;
    padding-top:20px;
  }

  .social-icons{
    justify-content:center;
  }

  .profile-title{
    font-size:28px;
    margin-bottom:30px;
    text-align:center;
  }
}

@media (max-width: 768px){

  /* FORM */
  .contact{
    min-height:auto;
    padding:60px 20px 40px;
  }

  /* REDES */
  .perfil-final{
    min-height:auto;
    padding-top:40px;
    justify-content:flex-start;
  }

}

